@media screen and (max-width: 768px) {
    #menu{
        display: block;
    }
}

@media screen and (min-width: 768px) {
    #menu{
        display: none;
    }
    li{
        display: inline-block;
        background-color: black;
        border-radius: 5px;
    }

    main{
        width: 720px;
    }
}